POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=file_uploader

DATABASE_URL=postgresql://your_username:your_password@localhost:5432/file_uploader
TEST_DATABASE_URL=postgresql://your_username:your_password@localhost:5432/file_uploader_test

GARAGE_DEFAULT_ACCESS_KEY=GK_replace_with_generated_key
GARAGE_DEFAULT_SECRET_KEY=replace_with_generated_secret
GARAGE_DEFAULT_BUCKET=file-uploader-bucket
GARAGE_RPC_SECRET=replace_with_another_generated_secret

SECRET=replace_with_any_random_string
PORT=3000